[Desktop Entry]
Exec=/bin/true
Type=Application
Name=Downloads
Version=1.0
X-Nemo-Application-Type=no-invoker
X-Nemo-Single-Instance=no
Icon=aliendalvik-downloads
X-apkd-packageName=com.myriadgroup.home
X-Maemo-Service=org.coderus.aliendalvikcontrol
X-Maemo-Object-Path=/
X-Maemo-Method=org.coderus.aliendalvikcontrol.openDownloads
