[Unit]
Description=Aliendalvik Control
Requires=lipstick.service
After=lipstick.service

[Service]
Type=dbus
ExecStart=/usr/bin/aliendalvik-control
BusName=org.coderus.aliendalvikcontrol
Restart=always
RestartSec=15

[Install]
WantedBy=post-user-session.target
