[Unit]
Description=Alien Dalvik SD Mount
Before=aliendalvik.service
Requires=aliendalvik.service

[Service]
Type=simple
ExecStartPre=/usr/bin/alien-mount-sdcard
ExecStart=/bin/sleep infinity
ExecStopPost=/usr/bin/alien-umount-sdcard

[Install]
WantedBy=aliendalvik.service
