[Unit]
Description=PowerMenu
Requires=lipstick.service
After=lipstick.service

[Service]
Type=dbus
ExecStart=/usr/bin/invoker -s --type=silica-qt5 /usr/bin/powermenu2-daemon
BusName=org.coderus.powermenu
Restart=always

[Install]
WantedBy=post-user-session.target
