[D-BUS Service]
Name=org.coderus.aliendalvikcontrol
Interface=org.coderus.aliendalvikcontrol
Exec=/bin/false
SystemdService=aliendalvik-control.service
